= form_for @stilage do |f|
  = error_messages_for @stilage
  .form-actions.bottom20
    = f.submit nil, class: 'btn btn-primary'
  - i=0
  .col-md-6
    .form-group
      = f.label :room_id
      = f.select(:room_id, Room.all.map{|x| [x.long_name, x.id]}, {:include_blank => 'Выбрать зал'}, class: 'form-control')
      = f.error_messages_for(:room_id)
  - if @current_role_user.present? and @current_role_user.is_admin? and @stilage.new_record?
    .row.bottom20
      .col-md-12
        = link_to_add_room(f, f.object)
  
