=breadcrumb_tag do
  %li.active
    = link_to t('app.stilages'), stilages_path
  %li
    = t('headers.stilages.edit')
  %li
    = link_to(@stilage.id)
    
%h1 Редактирование стиллажей

= render 'form'

%br
  .row
    = link_to @stilage, class: 'btn btn-info' do
      = fa_icon "eye"
      = t('buttons.show')

