=breadcrumb_tag do
  %li.active
    = link_to t('app.stilages'), stilages_path
  %li
    Администрирование

%h1 Список стиллажей

.container
  .row
    .col-md-1
      %table.table.table-hover.table-bordered
        %caption
          = link_to new_stilage_path, class: 'btn btn-success' do
            = fa_icon :plus
            = t('buttons.new.stilage')
        %thead
          %tr
            %th Краткое название зала
            %th Полное название зала
            %th Номер стеллажа
            %th
            %th
            %th



        %tbody
          - @stilages.each do |stilage|
            %tr
              %td= stilage.room.schort_name
              %td= stilage.room.long_name
              %td= stilage.id
              %td
                =link_to edit_stilage_path(stilage), class: 'btn btn-primary' do
                  = fa_icon :edit
                  = t('buttons.edit')
              %td
                = link_to stilage, class: 'btn btn-info' do
                  = fa_icon "eye"
                  = t('buttons.show')
              %td
                = link_to stilage, :method => :delete, :data => { confirm: 'Вы уверены?' }, class: 'btn btn-danger' do
                  = fa_icon :times
                  = t('buttons.destroy')


