=breadcrumb_tag do
  %li.active
    = link_to t('app.stilage'), stilages_path
  %li
    = @stilage.id
    
.container
  .row
    .col-md-10
      .panel.panel-default
        .panel-heading
        .panel-body
          = link_to  edit_stilage_path(@stilage), class: 'btn btn-primary' do
            = fa_icon :edit
            = t('buttons.edit')
          = link_to  stilages_path, class: 'btn btn-warning' do
            = fa_icon :backward
            = t('buttons.back')
        .list-group
          %p.list-group-item
            %b
              = t('activerecord.attributes.stilage.room.long_name')
            %span.badge
              = @stilage.room.long_name 
        .list-group
          %p.list-group-item
            %b
              = t('activerecord.attributes.stilage.room.sсhort_name')
            %span.badge
              = @stilage.room.schort_name 


