= form_for @book do |f|
  = error_messages_for @book
  .form-actions.bottom20
    = f.submit nil, class: 'btn btn-primary'
  .row
    .col-md-6
      .form-group
        = f.label :book_name
        = f.text_field :book_name, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :part
        = f.number_field :part, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :isbn_index
        = f.text_field :isbn_index, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :publick_year
        = f.number_field :publick_year, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :number_of_have
        = f.number_field :number_of_have, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :schelf_number
        = f.number_field :schelf_number, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :stilage_id
        = f.text_field :stilage_id, class: 'form-control'
  - i = 0
  =f.fields_for :book_creators do |fr|
    = fr.hidden_field :id
    = fr.fields_for :creator do |fm|
      = fr.hidden_field :id
      = render('books/one_book_creator_form', fm: fm, i: i + 1)
              

