= form_for @book do |f|
  = error_messages_for @book
  .row
    .col-md-6
      .form-group
        = f.label :book_name
        = f.text_field :book_name, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :part
        = f.number_field :part, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :isbn_index
        = f.text_field :isbn_index, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :publick_year
        = f.number_field :publick_year, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :number_of_have
        = f.number_field :number_of_have, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :schelf_number
        = f.number_field :schelf_number, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :stilage_id
        = f.text_field :stilage_id, class: 'form-control'
  - i = 0
  =f.fields_for :creators do |fr|
    = fr.hidden_field :id
    .col-md-6
      .panel.panel-success
        .panel-heading
          Автор
          = i + 1
        .panel-body
          .row
            .form-group
              = fr.label :Фамилия
              = fr.text_field:last_name, class: 'form-control'
          .row
            .form-group
              = fr.label :Имя
              = fr.text_field:first_name, class: 'form-control'
          .row
            .form-group
              = fr.label :Отчество
              = fr.text_field:second_name, class: 'form-control'         
  .actions
    = f.submit 'Сохранить'
