.col-md-6
  %div{class: 'panel panel-'+ (i.kind_of?(Integer) ? 'success' : 'info')}
    .panel-heading
      Автор
      = i
      %span.toright
        = link_to_remove_creator(fr)
      .clearfix 
  .panel-body
    = fr.fields_for :creator do |fm|
      = fm.hidden_field :id
      .row
        .col-md-6
          .form-group
            = fm.label :Фамилия
            = fm.text_field:last_name, class: 'form-control'
      .row
        .col-md-6
          .form-group
            = fm.label :Имя
            = fm.text_field:first_name, class: 'form-control'
      .row
        .col-md-6
          .form-group
            = fm.label :Отчество
            = fm.text_field:second_name, class: 'form-control'

