%h1 Список книг


.container
  .row
    .col-md-1
      %table.table.table-hover.table-bordered
        %caption
          = link_to new_book_path, class: 'btn btn-success' do
            = fa_icon :plus
            = t('buttons.new.book')
        %thead
          %tr
            %th Название книги
            %th Часть/Том
            %th Индекс ISBN
            %th Год публикации
            %th Количество в наличии
            %th Номер полки
            %th Стеллаж
            %th
            %th
            %th

        %tbody
          - @books.each do |book|
            %tr
              %td= book.book_name
              %td= book.part
              %td= book.isbn_index
              %td= book.publick_year
              %td= book.number_of_have
              %td= book.schelf_number
              %td= book.stilage.id
              %td 
                =link_to edit_book_path(book), class: 'btn btn-primary' do
                  = fa_icon :edit
                  = t('buttons.edit')
              %td
                = link_to book, class: 'btn btn-info' do
                  = fa_icon "eye"
                  = t('buttons.show')
              %td
                = link_to book, :method => :delete, :data => { confirm: 'Вы уверены?' }, class: 'btn btn-danger' do
                  = fa_icon :times
                  = t('buttons.destroy')

