%p#notice= notice

%p
  %b Book name:
  = @book.book_name
%p
  %b Part:
  = @book.part
%p
  %b Isbn index:
  = @book.isbn_index
%p
  %b Publick year:
  = @book.publick_year
%p
  %b Number of have:
  = @book.number_of_have
%p
  %b Schelf number:
  = @book.schelf_number
%p
  %b Stilage:
  = @book.stilage

= link_to 'Редактировать', edit_book_path(@book)
\|
= link_to 'Назад', books_path
