=breadcrumb_tag do
  %li.active
    = link_to t('app.books'), books_path
  %li
    = @book.id

.container
  .row
    .col-md-10
      .panel.panel-default
        .panel-heading
        .panel-body
          = link_to  edit_book_path(@book), class: 'btn btn-primary' do
            = fa_icon :edit
            = t('buttons.edit')
          = link_to  books_path, class: 'btn btn-warning' do
            = fa_icon :backward
            = t('buttons.back')
        .list-group
          %p.list-group-item
            %b
              = t('activerecord.attributes.book.book_name')
            %span.badge
              = @book.book_name
          %p.list-group-item
            %b
              = t('activerecord.attributes.book.part')
            %span.badge
              = @book.part
          %p.list-group-item
            %b
              = t('activerecord.attributes.book.isbn_index')
            %span.badge
              = @book.isbn_index
          %p.list-group-item
            %b
              = t('activerecord.attributes.book.publick_year')
            %span.badge
              = @book.publick_year
          %p.list-group-item
            %b
              = t('activerecord.attributes.book.schelf_number')
            %span.badge
              = @book.schelf_number
          %p.list-group-item
            %b
              = t('activerecord.attributes.book.stilage')
            %span.badge
              = @book.stilage.id

